---
layout: page
title: Tags
tagline: （ • ̀ω•́ ） 这里竟然是标签哎！
---
<article>

  <div>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- 遍历所有有标签的文章并列出标题 -->
{% for item in (0..site.tags.size) %}
  {% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <h2 id="{{ this_word | cgi_escape }}" class="tag-title">
      #{{ this_word }}
    </h2>
    <!-- lists all posts corresponding to specific tag -->
    {% for post in site.tags[this_word] %}
      {% if post.title != null %}
        <div class="tagged-post">
          <h3 class="title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
          <div class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endunless %}
{% endfor %}

  </div>

  <script src="/assets/js/aes.js"></script>
  <script src="/assets/js/mode-ecb.js"></script>
  <script>

    function getAesString(data,key){//加密
        var key = CryptoJS.enc.Utf8.parse(key);
        var data = CryptoJS.enc.Utf8.parse(data);
        var encrypted = CryptoJS.AES.encrypt(data,key,
                {
                    mode:CryptoJS.mode.ECB,
                    padding:CryptoJS.pad.Pkcs7
                });
        return encrypted.ciphertext.toString();
        // return encrypted
    }

    function getDAesString(encrypted,key){//解密
        var encrypted = CryptoJS.enc.Hex.parse(encrypted);
        encrypted = CryptoJS.enc.Base64.stringify(encrypted);
        var key  = CryptoJS.enc.Utf8.parse(key);
        var decrypted = CryptoJS.AES.decrypt(encrypted,key,
                {
                    mode:CryptoJS.mode.ECB,
                    padding:CryptoJS.pad.Pkcs7
                });
        return decrypted.toString(CryptoJS.enc.Utf8);
    }

    function getAES(){ //加密
        var data = document.getElementById("data-ipt").value;//明文
        var key  =  document.getElementById("data-pwd").value;//明文
        var encrypted = getAesString(data,key); //密文
        document.getElementById("data-out").innerHTML = encrypted;
    }

    function getDAes(){//解密
        var encrypted = document.getElementById("data-ipt").value; //密文
        var key  =  document.getElementById("data-pwd").value;//明文
        var decryptedStr = getDAesString(encrypted,key);
        document.getElementById("data-out").innerHTML = decryptedStr;
    }
  </script>
  <div class="demo-wrap">
    输入文本:<br>
    <input type="text" id="data-ipt"/>
    <br/>
    输入密码:<br>
    <input type="text" id="data-pwd"/>
    <br/>
    <button onclick="getAES();">AES加密</button>
    <button onclick="getDAes();">AES解密</button>
    <br/>
    加密/解密后的数据:
    <p id = "data-out"></p>
</div>

</article>
